<template>
  <q-page padding class="row">
    <!-- content -->
    <div class="col-md-3 col-sm-6 col-xs-12 q-pa-sm" v-for="(product, idx) in products" :key="idx">
      <q-card class="my-card">
        <q-img :src="url + '/image/products/' + product.img" class="prodt_img" />
        <q-list>
          <q-item clickable>
            <q-item-section>
              <q-item-label><span class="text-h6">{{product.product}}</span></q-item-label>
              <q-item-label caption>{{product.category.name}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label><span class="text-h6">{{product.price}} COP</span></q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'PageName',
  computed: {
    orders () {
      return this.$store.getters['client/userProds']
    },
    user () {
      return this.$store.getters['auth/user']
    },
    client () {
      return this.$store.getters['client/filter']
    }
  },
  data () {
    return {
      username: this.$route.params.username,
      url: domain,
      products: []
    }
  },
  methods: {
    getUserProds () {
      var data = {}
      data.username = this.username
      this.$store.dispatch('client/getDistriProds', data)
        .then((resp) => {
          this.setProds()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setProds () {
      for (var i = 0; i < this.orders.length; i++) {
        for (let a = 0; a < this.orders[i].products.length; a++) {
          this.products.push(this.orders[i].products[a])
          console.log(this.orders[i].products[a])
        }
      }
    }
  },
  beforeMount () {
    this.getUserProds()
  },
  created () {
  }
}
</script>
