<template>
  <q-page padding>
    <filters />
  </q-page>
</template>

<script>
import filters from 'src/components/proveedor/filter.vue'

export default {
  // name: 'PageName',
  components: {
    filters
  },
  data () {
    return {
    }
  }
}
</script>
