<template>
  <div>
    <q-card class="full-width q-pa-md">
      <q-card-section class="text-left">
        <span class="text-h5 text-weight-bolder text-accent">Producto #{{product.id}}</span> <q-icon size="20px" style="margin-top: -15px; margin-left: 10px" v-if="!edit" @click="read = false" class="cursor-pointer" name="edit" />
        <div style="float:right"><q-btn color="primary" @click="updateProduct" icon="save" v-if="!read" /></div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.ref" label="Referencia"/>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.name" label="Producto"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-select :readonly="read" v-model="product.type_price" :options="typePrice" label="Tipo precio" style="width: 100%" />
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-input :readonly="product.type_price == 'Unidad'" @input="calculateGramo" v-model="product.grs" label="Gramos"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-input :readonly="product.type_price == 'Unidad'" @input="calculateGramo" v-model="product.priceGrs" label="Precio por gramo"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.price" label="Precio"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.price2" label="Precio2"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.price3" label="Precio3"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="product.category.name" label="Catégoria"/>
           <q-select filled v-if="!read" v-model="product.categoryNew" @input="filterSubcategory" :options="categories" label="Categoria" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="product.subcategory.name" label="SubCatégoria"/>
           <q-select v-if="!read" filled v-model="product.subcategoryNew" :options="subcategoryOption" label="Subcategoria" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="product.position" label="Posición en bodega"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="product.citiesArray" label="Bodega"/>
          <q-select v-if="!read" @input="setArrayCities" v-model="product.citiesArrayNew" multiple :options="optionsCities" counter label="Depósitos del producto" style="width: 100%" />
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="product.tematica" label="Tematica"/>
          <q-select v-if="!read" filled v-model="product.tematicas" multiple :options="themes" counter label="Temática del producto" style="width: 100%" />
        </div>
        <div class="col-4 q-mt-sm">
          <q-input :readonly="read" v-model="product.observations" label="Observación" autogrow />
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 q-mt-lg" v-if="read">
          <center>
            <q-img v-if="!showImgForm" :src="url + '/image/products/' + product.default_img" width="200px" height="200px" /><br><br>
            <q-btn v-if="!showImgForm" label="Editar imágen" color="primary" @click="showImgForm = true" />
            <q-form @submit="onSubmitImg" v-if="showImgForm"  class="q-gutter-md addClient">
              <q-file filled bottom-slots v-model="product.photoNew" label="Selecciona una imágen" counter>
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:append>
                  <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                </template>
                <template v-slot:hint>
                  Field hint
                </template>
              </q-file>
              <q-btn label="Cambiar imágen" color="primary" type="submit" />
            </q-form>
          </center>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  computed: {
    product () {
      return this.$store.getters['products/filter']
    },
    subcategories () {
      return this.$store.getters['subcategory/getSubcategory']
    },
    categoriess () {
      return this.$store.getters['category/categories']
    }
  },
  data () {
    return {
      read: true,
      url: domain,
      optionsCities: ['Medellin', 'Bogota', 'Cali', 'Bucaramanga'],
      edit: false,
      categories: [],
      subcategoryOption: [],
      typePrice: ['Unidad', 'Gramos'],
      themes: [],
      showImgForm: false
    }
  },
  methods: {
    setArrayCities (data) {
      this.product.citiesArray = data
    },
    updateProduct () {
      if (this.product.tematicas) {
        this.product.tematica = []
        for (var e = 0; e < this.product.tematicas.length; e++) {
          this.product.tematica.push(this.product.tematicas[e])
        }
      }
      if (this.product.type_price === 'Unidad') {
        this.product.grs = 0
        this.product.priceGrs = 0
      }
      this.$store.dispatch('products/updateProducts', this.product)
        .then((resp) => {
          console.clear()
          this.read = true
        })
        .catch((err) => {
          this.$SendNotify('negative', 'A ocurrido un error editando el producto: ' + err, 'red-8')
        })
    },
    getCategories () {
      this.$store.dispatch('category/get')
        .then((resp) => {
          for (let i = 0; i < resp.data.success.length; i++) {
            this.categories.push(resp.data.success[i].name)
          }
          this.getSubCategories()
        })
        .catch((err) => {
          alert(err)
        })
    },
    getSubCategories () {
      this.$store.dispatch('subcategory/get')
        .then((resp) => {
        })
        .catch((err) => {
          alert(err)
        })
    },
    filterSubcategory (data) {
      this.subcategoryOption = []
      var categoryId = this.categoriess.filter(v => v.name === data)
      var search = this.subcategories.filter(v => parseInt(v.category_id) === parseInt(categoryId[0].id))
      for (let i = 0; i < search.length; i++) {
        this.subcategoryOption.push(search[i].name)
      }
    },
    getThemes () {
      this.$store.dispatch('category/getThemes')
        .then((resp) => {
          for (var i = 0; i < resp.data.success.length; i++) {
            this.themes.push(resp.data.success[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    onSubmitImg () {
      var formData = new FormData()
      formData.append('file', this.product.photoNew)
      formData.append('id', this.product.id)
      this.$store.dispatch('products/ediImg', formData)
        .then((resp) => {
          this.$SendNotify('positive', 'Se a cambiado la imágen correctamente', 'green-8')
          this.showImgForm = false
          this.product.default_img =resp.data.success.default_img
        })
        .catch((err) => {
          this.$SendNotify('negative', 'Error guardando el producto' + err, 'red-8')
        })
    },
    calculateGramo () {
      this.product.price = 0
      this.product.price2 = 0
      this.product.price3 = 0
      var grs = this.product.grs
      var priceGrs = this.product.priceGrs
      var price = parseFloat(grs) * parseInt(priceGrs)
      var price2 = price * 0.30
      var price3 = price * 0.60
      this.product.price = price
      this.product.price2 = price + price2
      this.product.price3 = price + price3
    }
  },
  beforeMount () {
    this.product.citiesArray = []
    for (let i = 0; i < this.product.cities.length; i++) {
      this.product.citiesArray.push(this.product.cities[i].name)
    }
    this.getCategories()
    this.getThemes()
  }
}
</script>
