<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-table class="my-sticky-header-table" v-if="user.user_type == 1" title="Productos" :data="data" :columns="columns" row-key="id" :filter="filter">
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props">
            {{ props.row.id }}
          </q-td>
          <q-td key="producto" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="precio" :props="props">
            {{ props.row.price }}
          </q-td>
          <q-td key="precio2" :props="props">
            {{ props.row.price2 }}
          </q-td>
          <q-td key="precio3" :props="props">
            {{ props.row.price3 }}
          </q-td>
          <q-td key="categoria" :props="props">
            {{ props.row.category }}
          </q-td>
          <q-td key="subcategoria" :props="props">
            {{ props.row.subcategory }}
          </q-td>
          <q-td key="theme" :props="props">
            {{ props.row.theme }}
          </q-td>
          <q-td key="bodega" :props="props">
            {{ props.row.bodega }}
          </q-td>
          <q-td>
            <center><q-img :src="url + '/image/products/' + props.row.photo" width="100px" height="100px" /></center>
          </q-td>
          <q-td>
            <center><q-btn @click="filterProduct(props.row.id)" icon="search" color="primary" /></center>
          </q-td>
          <q-td>
            <center><q-btn @click="deleteData(props.row.idx)" icon="delete" color="primary" /></center>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:top-right>
        <q-input class="text-white full-widthss" color="white" standout="bg-grey text-white" debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn class="pl-no-mobile full-widthss" size="20px" icon="filter_list" color="secondary">
            <span class="text-weight-bolder">Filtrar</span>
            <q-menu fit style="width:300px !important">
              <q-list style="min-width: 300px">
                <q-item clickable>
                  <q-item-section class="text-accent">
                    <q-select filled v-model="categoria" @input="filterByCategory" :options="categories" label="Filtrar por categoria" />
                  </q-item-section>
                </q-item>
                <q-item clickable>
                  <q-item-section class="text-accent">
                    <q-select filled v-model="subcategoria" @input="filterBySubcategory" :options="subcategoryOption2" label="Subcategoria" />
                  </q-item-section>
                </q-item>
                <q-item clickable>
                  <q-item-section class="text-accent">
                    <q-select filled v-model="tematica" :options="themes" @input="filterByThemes" label="Filtrar por temática" style="width: 100%" />
                  </q-item-section>
                </q-item>
                <q-item clickable>
                  <q-item-section class="text-accent">
                    <q-select filled v-model="ciudad" :options="optionsCities" @input="filterByCity" label="Filtrar por bodega" style="width: 100%" />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
          <q-btn @click="showAddForm = true" icon="category" color="secondary" label="Agregar" class="pl-no-mobile full-widthss" size="20px" />
      </template>
    </q-table>
    </q-card>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Estas apunto de borrar el producto..</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Borrar" @click="deleteItem" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showAddForm" @hide="getProducts">
        <q-card>
          <q-card-section>
            <div class="text-h6 q-ml-sm">Agregar producto</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmit" class="q-gutter-md addClient">
                  <div class="row">
                    <div class="col-md-6 col-12 q-pa-sm">
                      <q-input filled v-model="product.ref" label="Referencia *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa la referencia del producto']"
                      />
                    </div>
                    <div class="col-md-6 col-12 q-pa-sm">
                      <q-input filled v-model="product.name" label="Nombre *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el nombre del producto']"
                      />
                    </div>
                    <div class="col-12 q-pa-sm">
                      <q-select filled v-model="product.typePrice" :options="typePrice" counter label="Tipo precio" style="width: 100%" />
                    </div>
                    <div class="col-6 q-pa-sm" v-if="product.typePrice && product.typePrice == 'Gramos'">
                      <q-input filled @input="calculateGramo" type="text" v-model="product.grs" label="Gramos *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa los gramos para el precio del producto']"
                      />
                    </div>
                    <div class="col-6 q-pa-sm" v-if="product.typePrice && product.typePrice == 'Gramos'">
                      <q-input filled @input="calculateGramo" type="number" v-model="product.priceGrs" label="Valor por gramo *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el precio por gramo del producto']"
                      />
                    </div>
                    <div class="col-4 q-pa-sm">
                      <q-input filled @input="calculatePrice" type="number" v-model="product.price" label="Precio *"
                      />
                    </div>
                    <div class="col-4 q-pa-sm">
                      <q-input filled type="text" v-model="product.price2" label="Precio 2*"
                      />
                    </div>
                    <div class="col-4 q-pa-sm">
                      <q-input filled type="text" v-model="product.price3" label="Precio 3*"
                      />
                    </div>
                    <div class="col-12 q-pa-sm">
                      <q-file filled bottom-slots v-model="product.photo" label="Imágen" counter>
                        <template v-slot:prepend>
                          <q-icon name="cloud_upload" @click.stop />
                        </template>
                        <template v-slot:append>
                          <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                        </template>
                        <template v-slot:hint>
                          Field hint
                        </template>
                      </q-file>
                    </div>
                    <div class="col-6 q-pa-sm">
                      <q-select filled v-model="product.cities" multiple :options="optionsCities" counter label="Bodega del producto" style="width: 100%" />
                    </div>
                    <div class="col-6 q-pa-sm">
                      <q-input filled type="text" v-model="product.positionInStore" label="Posición en la bodega"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa la posición en bodega del producto']"
                      />
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6 q-pa-sm">
                      <q-select filled v-model="product.category" @input="filterSubcategory" :options="categories" label="Categoria" />
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6 q-pa-sm">
                      <q-select filled v-model="product.subcategory" :options="subcategoryOption" label="Subcategoria" />
                    </div>
                    <div class="col-12 q-pa-sm">
                      <q-select filled v-model="product.tematicas" multiple :options="themes" counter label="Temática del producto" style="width: 100%" />
                    </div>
                    <div class="col-12">
                      <q-input v-model="product.observation" label="Observación" filled autogrow />
                    </div>
                  </div>
                  <div>
                    <q-btn :loading="loading1" label="Guardar" type="submit" color="primary" style="width:50%">
                      <template v-slot:loading>
                        <q-spinner
                          color="primary"
                        />
                        Guardando...
                      </template>
                    </q-btn>
                    <q-btn label="Borrar" type="reset" color="primary" flat style="width:50%" />
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <listDistribuyer v-if="user.user_type == 2" />
  </q-page>
</template>

<script>
import { domain } from 'src/api/data'
import listDistribuyer from 'src/components/products/listDistribuyer.vue'

export default {
  // name: 'PageName',
  components: {
    listDistribuyer
  },
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    user () {
      return this.$store.getters['auth/user']
    },
    subcategories () {
      return this.$store.getters['subcategory/getSubcategory']
    },
    categoriess () {
      return this.$store.getters['category/categories']
    }
  },
  data () {
    return {
      allProductss: [],
      loading1: false,
      selected: 0,
      product: {},
      showing: false,
      category: '',
      url: domain,
      confirm: false,
      categoryDialog: false,
      columns: [
        { name: 'id', align: 'center', label: 'Id', sortable: true, field: row => row.id },
        { name: 'producto', align: 'center', label: 'Producto', sortable: true, field: row => row.name },
        { name: 'precio', align: 'center', label: 'Precio', sortable: true, field: row => row.price },
        { name: 'precio2', align: 'center', label: 'Precio2', sortable: true, field: row => row.price2 },
        { name: 'precio3', align: 'center', label: 'Precio3', sortable: true, field: row => row.price3 },
        { name: 'categoria', align: 'center', label: 'Categoría', sortable: true, field: row => row.category },
        { name: 'subcategoria', align: 'center', label: 'Subcategoría', sortable: true, field: row => row.subcategory },
        { name: 'theme', align: 'center', label: 'Temática', sortable: true, field: row => row.theme },
        { name: 'bodega', align: 'center', label: 'Bodega', sortable: true, field: row => row.bodega },
        { name: 'imagen', align: 'center', label: 'Imágen', sortable: true },
        { name: 'ver', align: 'center', label: 'Ver', sortable: true },
        { name: 'borrar', align: 'center', label: 'Borrar', sortable: true }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      options: {},
      categories: [],
      subcategoryOption: [],
      optionsCities: ['Medellin', 'Bogota', 'Cali', 'Bucaramanga'],
      typePrice: ['Unidad', 'Gramos'],
      themes: [],
      themesOption: [],
      tematica: '',
      categoria: '',
      subcategoria: '',
      ciudad: '',
      subcategoryOption2: [],
      itemsOfCategory: [],
      itemsOfTheme: [],
      itemsOfSubcategory: []
    }
  },
  methods: {
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    getCategories () {
      this.$store.dispatch('category/get')
        .then((resp) => {
          for (let i = 0; i < resp.data.success.length; i++) {
            this.categories.push(resp.data.success[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    saveCategory () {
      var allCategories = JSON.parse(localStorage.getItem('category') || '[]')
      allCategories.push(this.category)
      localStorage.setItem('category', JSON.stringify(allCategories))
      this.options = JSON.parse(localStorage.getItem('category') || '{}')
    },
    getProducts () {
      var bodegas = ''
      this.allProductss = []
      this.$store.dispatch('products/get')
        .then((resp) => {
          for (var i = 0; i < resp.data.success.length; i++) {
            if (resp.data.success[i].cities.length >= 1) {
              for (var e = 0; e < resp.data.success[i].cities.length; e++) {
                bodegas = bodegas + resp.data.success[i].cities[e].name
              }
              resp.data.success[i].bodegas = bodegas
            }
            this.allProductss.push(resp.data.success[i])
            bodegas = ''
          }
          this.setData()
        })
        .catch((err) => {
          if (err) {
            console.log(err)
          }
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.allProductss.length; i++) {
        this.model.id = this.allProductss[i].id
        this.model.name = this.allProductss[i].name
        this.model.price = this.formatPrice(this.allProductss[i].price)
        this.model.price2 = this.formatPrice(this.allProductss[i].price2)
        this.model.price3 = this.formatPrice(this.allProductss[i].price3)
        this.model.category = this.allProductss[i].category.name
        this.model.subcategory = this.allProductss[i].subcategory.name
        if (this.allProductss[i].tematica) {
          this.model.theme = this.allProductss[i].tematica.substr(0, this.allProductss[i].tematica.length - 1)
        } else {
          this.model.theme = 'Sin temática'
        }
        this.model.bodega = ''
        if (this.allProductss[i].cities.length >= 1) {
          for (let a = 0; a < this.allProductss[i].cities.length; a++) {
            this.model.bodega += this.allProductss[i].cities[a].name
            if (a !== (this.allProductss[i].cities.length - 1)) {
              this.model.bodega += ', '
            } else {
              this.model.bodega += '.'
            }
          }
        } else {
          this.model.bodega = 'No posee.'
        }
        this.model.photo = this.allProductss[i].default_img
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterProduct (id) {
      for (var i = 0; i < this.products.length; i++) {
        if (this.products[i].id === id) {
          this.$store.dispatch('products/setFilter', this.products[i])
            .then((resp) => {
              this.$PushRoute('/dashboard/products/filter')
            })
            .catch((err) => {
              alert(err)
            })
        }
      }
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.product_id = this.data[this.idx].id
      this.$store.dispatch('products/deleteProduct', data)
        .then((resp) => {
          this.data.splice(this.idx, 1)
        })
        .catch(() => {
          this.$SendNotify('negative', 'Error eliminando el producto', 'red-8')
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmit () {
      var formData = new FormData()
      formData.append('file', this.product.photo)
      formData.append('name', this.product.name)
      formData.append('category', this.product.category)

      formData.append('typePrice', this.product.typePrice)
      if(this.product.typePrice === 'Gramos') {
        formData.append('grs', this.product.grs)
        formData.append('priceGrs', this.product.priceGrs)
      }
      formData.append('price', this.product.price)
      formData.append('price2', this.product.price2)
      formData.append('price3', this.product.price3)
      for (var i = 0; i < this.product.cities.length; i++) {
        formData.append('cities[]', this.product.cities[i])
      }
      for (var e = 0; e < this.product.tematicas.length; e++) {
        formData.append('tematicas[]', this.product.tematicas[e])
      }
      formData.append('position', this.product.positionInStore)
      formData.append('ref', this.product.ref)
      formData.append('subcategory_id', this.product.subcategory)
      formData.append('observation', this.product.observation)
      this.loading1 = true
      this.$store.dispatch('products/add', formData)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo el producto', 'green-8')
          this.user = {}
          this.showAddForm = false
          this.product = {}
          this.loading1 = false
        })
        .catch((err) => {
          this.$SendNotify('negative', 'Error guardando el producto' + err, 'red-8')
        })
    },
    getSubCategories () {
      this.$store.dispatch('subcategory/get')
        .then((resp) => {
        })
        .catch((err) => {
          alert(err)
        })
    },
    filterSubcategory (data) {
      this.subcategoryOption = []
      var categoryId = this.categoriess.filter(v => v.name === data)
      var search = this.subcategories.filter(v => parseInt(v.category_id) === parseInt(categoryId[0].id))
      for (let i = 0; i < search.length; i++) {
        this.subcategoryOption.push(search[i].name)
      }
    },
    calculatePrice () {
      this.product.price2 = 0
      this.product.price3 = 0
      var porcentOne = this.product.price * 0.30
      var porcentTwo = this.product.price * 0.60
      this.product.price2 = parseFloat(this.product.price) + parseFloat(porcentOne)
      this.product.price3 = parseFloat(this.product.price) + parseFloat(porcentTwo)
    },
    calculateGramo () {
      this.product.price = 0
      this.product.price2 = 0
      this.product.price3 = 0
      var grs = this.product.grs
      var priceGrs = this.product.priceGrs
      var price = parseFloat(grs) * parseInt(priceGrs)
      var price2 = price * 0.30
      var price3 = price * 0.60
      this.product.price = price
      this.product.price2 = price + price2
      this.product.price3 = price + price3
    },
    getThemes () {
      this.$store.dispatch('category/getThemes')
        .then((resp) => {
          for (var i = 0; i < resp.data.success.length; i++) {
            this.themes.push(resp.data.success[i].name)
          }
          this.themesOption = resp.data.success
        })
        .catch((err) => {
          alert(err)
        })
    },
    filterByThemes (name) {
      var search = this.themesOption.filter(data => data.name == name)
      
      if (this.categoria && !this.subcategoria) {
        var filterItem = this.itemsOfCategory.filter(entry => {
          if (entry.tematica) {
            return entry.tematica.toLowerCase().includes(search[0].name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria) {
        var filterItem = this.itemsOfSubcategory.filter(entry => {
          if (entry.tematica) {
            return entry.tematica.toLowerCase().includes(search[0].name.toLowerCase())
          }
        })
      }
      this.itemsOfTheme = filterItem
      this.allProductss = filterItem
      this.setData()
    },
    filterByCity (name) {
      if (this.categoria && !this.subcategoria && !this.tematica) {
        var filterItem = this.itemsOfCategory.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria && !this.tematica) {
        var filterItem = this.itemsOfSubcategory.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria && this.tematica) {
        var filterItem = this.itemsOfTheme.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }
      this.allProductss = filterItem
      this.setData()
    },
    filterByCategory (name) {
      this.subcategoryOption2 = []
      this.itemsOfCategory = []
      var search = this.categoriess.filter(data => data.name == name)
      var filterItem = this.products.filter(entry => {
        if (entry.category) {
          return entry.category.name.toLowerCase().includes(search[0].name.toLowerCase())
        }
      })
      this.allProductss = filterItem
      this.itemsOfCategory = filterItem
      
      var categoryId = this.categoriess.filter(v => v.name == name)
      var search = this.subcategories.filter(v => parseInt(v.category_id) == parseInt(categoryId[0].id))
      for (let i = 0; i < search.length; i++) {
        this.subcategoryOption2.push(search[i].name)
      }
      
      this.setData()
    },
    filterBySubcategory (name) {
      var categoryId = this.categoriess.filter(v => v.name == this.categoria)
      var search = this.subcategories.filter(v => parseInt(v.category_id) == parseInt(categoryId[0].id))
      var subcategoryId = search.filter(v => v.name == name)
      var filterItem = this.itemsOfCategory.filter(entry => {
        return entry.subcategory_id == subcategoryId[0].id
      })
      this.itemsOfSubcategory = filterItem
      this.allProductss = filterItem
      this.setData()
    }
  },
  beforeMount () {
    this.getCategories()
    this.getSubCategories()
    this.getThemes()
    this.options = JSON.parse(localStorage.getItem('category') || '{}')
  },
  created () {
    this.getProducts()
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 100vh

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #a0a0a0
    color: white

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
