<template>
  <div class="row">
    <q-toolbar class="bg-primary text-white q-ma-sm">
      <q-toolbar-title>Productos</q-toolbar-title>
       <q-btn flat dense icon="filter_list" class="q-mr-lg">
        <span class="text-weight-bolder">Filtrar</span>
        <q-menu fit style="width:300px !important">
          <q-list style="min-width: 300px">
            <q-item clickable>
              <q-item-section class="text-accent">
                <q-select filled v-model="categoria" @input="filterByCategory" :options="categories" label="Filtrar por categoria" />
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section class="text-accent">
                <q-select filled v-model="subcategoria" @input="filterBySubcategory" :options="subcategoryOption2" label="Subcategoria" />
              </q-item-section>
            </q-item>
            <q-separator class="q-mt-sm q-mb-sm" />
            <q-item clickable>
              <q-item-section class="text-accent">
                <q-select filled v-model="tematica" :options="themesOption" @input="filterByThemes" label="Filtrar por temática" style="width: 100%" />
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section class="text-accent">
                <q-select filled v-model="ciudad" :options="optionsCities" @input="filterByCity" label="Filtrar por bodega" style="width: 100%" />
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section class="text-accent">
                <q-btn label="Reiniciar" color="primary" @click="prodcts = products" />
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
      <q-btn flat round dense icon="shopping_cart">
        <span>{{cartProds.length}}</span>
        <q-menu fit style="width:300px !important">
          <q-list style="min-width: 100px">
            <q-item v-for="(item, idx) in cartProds" :key="idx" clickable>
              <q-item-section avatar>
                <q-img :src="url + '/image/products/' + item.default_img" style="width:30px; height:30px" />
              </q-item-section>
              <q-item-section class="text-accent">
                {{item.name}}
                <q-item-label caption style="font-size: 12px;">{{item.quantity}} - {{formatPrice(item.quantity * item.price)}}</q-item-label>
              </q-item-section>
              <q-item-section caption style="float:right; width:90px"><q-btn @click="deleteItem(idx)" icon="delete" color="primary" flat /></q-item-section>
            </q-item>
          </q-list>
         <div class="row">
           <div class="col-12 q-pa-sm">
              <q-btn @click="showOdersDetail" label="Procesar pedido" color="primary" class="full-width" />
           </div>
         </div>
        </q-menu>
      </q-btn>
    </q-toolbar>
    <div class="row full-width">
        <div class="col-md-3 col-sm-6 col-xs-12 q-pa-sm" v-for="(product, idx) in prodsNewShow" :key="idx">
          <q-card class="my-card">
            <q-card-section style="padding: 0px">
              <img style="width:100%; height: 270px" :src="url + '/image/products/' + product.default_img" v-viewer>
            </q-card-section>
            <q-list>
              <q-item clickable>
                <q-item-section>
                  <q-item-label><span class="text-h6 text-accent">{{product.name}}</span></q-item-label>
                  <q-item-label caption>{{product.category.name}}</q-item-label>
                  <q-item-label caption style="height:50px" class="text-capitalize" v-if="product.observations">{{product.observations}}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <div class="row">
                  <div class="col-8">
                    <q-input min="0" v-model.number="product.quantity" size="15px" type="number" filled style="width: 100%">
                      <template v-slot:append>
                        UND
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>
                    <span v-if="user.price_type == ''" class="text-h6 text-accent">{{formatPrice(product.price)}} COP</span>
                    <span v-if="user.price_type == 1" class="text-h6 text-accent">{{formatPrice(product.price)}} COP</span>
                    <span v-if="user.price_type == 2" class="text-h6 text-accent">{{formatPrice(product.price2)}} COP</span>
                    <span v-if="user.price_type == 3" class="text-h6 text-accent">{{formatPrice(product.price3)}} COP</span>
                  </q-item-label>
                  <q-item-label caption v-if="product.type_price === 'Gramos'">
                    {{product.grs}} Grs - {{formatPrice(product.priceGrs)}} x Grs
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
            <div class="row">
              <div class="col-12 q-pa-sm"><q-btn @click="addOrder(idx)" class="full-width cursor-pointer" label="Agregar al pedido" color="primary" /></div>
            </div>
          </q-card>
        </div>
        <div class="col-12" v-if="prodsNewShow.length != prodcts.length">
          <center>
            <q-spinner
              color="primary"
              size="3em"
            />
          </center>
        </div>
      </div>
    <q-dialog v-model="showAddForm">
        <q-card>
          <q-card-section>
            <div class="text-h6">Detalles del pedido</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row" style="max-width:520px">
              <div class="col-12">
                <q-list style="min-width: 100px">
                  <q-item v-for="(item, idx) in cartProds" :key="idx" clickable>
                    <q-item-section avatar>
                      <q-img :src="url + '/image/products/' + item.default_img" style="width:30px; height:30px" />
                    </q-item-section>
                    <q-item-section>
                      {{item.name}}
                      <q-item-label caption style="font-size: 12px;">{{item.quantity}} - {{formatPrice(item.quantity * item.price)}}</q-item-label>
                    </q-item-section>
                    <q-item-section caption style="float:right; width:90px">
                      <q-btn @click="deleteItem(idx)" icon="delete" color="primary" flat />
                      <q-btn icon="edit" color="primary" flat>
                        <q-popup-proxy>
                          <q-banner>
                            <template v-slot:avatar>
                              <q-icon name="exposure_plus_1" color="primary" />
                            </template>
                            <q-input filled v-model="cartProds[idx].quantity" @input="resetCart(idx, item)" label="cantidad *" />
                          </q-banner>
                        </q-popup-proxy>
                      </q-btn>
                    </q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-input class="full-width" v-model="observationOrders" label="Observación" filled autogrow />
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12"><span class="text-h6">TOTAL </span></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <span style="font-size:20px">
                            {{formatPrice(total)}}
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <q-btn @click="proccessOrder" label="Guardar Pedido" color="primary" class="full-width q-mt-sm" />
                        </div>
                      </div>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    user () {
      return this.$store.getters['auth/user']
    },
    themes () {
      return this.$store.getters['category/themes']
    },
    subcategories () {
      return this.$store.getters['subcategory/getSubcategory']
    },
    categoriess () {
      return this.$store.getters['category/categories']
    }
  },
  data () {
    return {
      productsAll: [],
      url: domain,
      prodcts: [],
      cartProds: [],
      showAddForm: false,
      subtotal: 0,
      total: 0,
      domicilio: 0,
      showIMGmodal: false,
      productImg: '',
      themesOption: [],
      categories: [],
      tematica: '',
      categoria: '',
      optionsCities: ['Medellin', 'Bogota', 'Cali', 'Bucaramanga'],
      ciudad: '',
      subcategoria: '',
      subcategoryOption2: [],
      itemsOfCategory: [],
      itemsOfTheme: [],
      itemsOfSubcategory: [],
      prodsNewShow: [],
      min: 0,
      max: 19,
      observationOrders: '',
      cantidadOfAitem: 0,
      cantidadOfAitemIdx: 0
    }
  },
  methods: {
    resetCart (idx, item) {
      this.$set(this.cartProds, idx, item)
      this.recalculateTotal()
      console.clear()
    },
    recalculateTotal () {
      this.total = 0
      for (var i = 0; i < this.cartProds.length; i++) {
        this.total = this.total + (this.cartProds[i].quantity * this.cartProds[i].price)
      }
    },
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    addOrder (idx) {
      if (!this.prodcts[idx].quantity) {
        this.$SendNotify('negative', 'Ingresa la cantidad del producto!', 'red-8')
        return false
      }
      this.cartProds.push(this.prodcts[idx])
      this.$SendNotify('positive', 'Se agrego el producto al pedido!', 'green-8')
      this.calculatePrice(idx)
    },
    calculatePrice (idx) {
      this.subtotal = this.subtotal + (this.prodcts[idx].quantity * this.prodcts[idx].price)
      this.calculateTotal()
    },
    calculateTotal () {
      this.total = this.subtotal + parseInt(this.domicilio)
    },
    deleteItem (idx) {
      this.subtotal = this.subtotal - (this.cartProds[idx].quantity * this.cartProds[idx].price)
      this.total = this.total - (this.cartProds[idx].quantity * this.cartProds[idx].price)
      this.cartProds.splice(idx, 1)
    },
    showOdersDetail () {
      this.showAddForm = true
    },
    proccessOrder () {
      var data = {}
      data.user = this.user
      data.products = this.cartProds
      data.subtotal = this.subtotal
      data.domicilio = this.domicilio
      data.total = this.total
      data.observations = this.observationOrders
      this.$store.dispatch('orders/saveOrders', data)
        .then((resp) => {
          this.showAddForm = false
          data = {}
          this.cartProds = []
          this.total = 0
          this.subtotal = 0
          this.$PushRoute('/dashboard/orders')
        })
        .catch((err) => {
          alert(err)
        })
    },
    getProducts () {
      var bodegas = ''
      var data = {}
      data.user_id = this.user.id
      this.$store.dispatch('products/getProductByUser', data)
        .then((resp) => {
          for (var i = this.min; i < this.max; i++) {
            if (i === resp.data.success.length) {
              console.log('Cargados toodos los productos.')
              return false
            }
            if (resp.data.success[i].cities.length >= 1) {
              for (var e = 0; e < resp.data.success[i].cities.length; e++) {
                bodegas = bodegas + resp.data.success[i].cities[e].name
              }
              resp.data.success[i].bodegas = bodegas
              resp.data.success[i].quantity = 0
            }
            this.prodsNewShow.push(resp.data.success[i])
            bodegas = ''
          }
           this.prodcts= resp.data.success
           this.min = this.prodsNewShow.length
           this.max = this.max +  20
           this.getCategories()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    onLoad (index, done) {
      setTimeout(() => {
        if (this.last < this.prodcts.length) {
          this.start = this.last
          this.last = this.last + 6
          for (let i = this.start; i < this.last; i++) {
            this.listProducts.push(this.prodcts[i])
          }
          done()
        }
      }, 2000)
    },
    showImgModal (url) {
      this.showIMGmodal = true
      this.productImg = url
    },
    getThemes () {
      this.$store.dispatch('category/getThemes')
        .then((resp) => {
          for (var i = 0; i < resp.data.success.length; i++) {
            this.themesOption.push(resp.data.success[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    filterByThemes (name) {
      var search = this.themes.filter(data => data.name === name)
      if (this.categoria && !this.subcategoria) {
        var filterItem = this.itemsOfCategory.filter(entry => {
          if (entry.tematica) {
            return entry.tematica.toLowerCase().includes(search[0].name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria) {
        var filterItem = this.itemsOfSubcategory.filter(entry => {
          if (entry.tematica) {
            return entry.tematica.toLowerCase().includes(search[0].name.toLowerCase())
          }
        })
      }
      this.itemsOfTheme = filterItem
      this.prodsNewShow = filterItem
    },
    filterByCity (name) {
       if (this.categoria && !this.subcategoria && !this.tematica) {
        var filterItem = this.itemsOfCategory.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria && !this.tematica) {
        var filterItem = this.itemsOfSubcategory.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }

      if (this.categoria && this.subcategoria && this.tematica) {
        var filterItem = this.itemsOfTheme.filter(entry => {
          if (entry.bodegas) {
            return entry.bodegas.toLowerCase().includes(name.toLowerCase())
          }
        })
      }
      this.prodsNewShow = filterItem
    },
    filterByCategory (name) {
      this.subcategoryOption2 = []
      var search = this.categoriess.filter(data => data.name == name)
      var filterItem = this.products.filter(entry => {
        if (entry.category) {
          return entry.category.name.toLowerCase().includes(search[0].name.toLowerCase())
        }
      })
      console.log(filterItem)
      var categoryId = this.categoriess.filter(v => v.name == name)
      var search = this.subcategories.filter(v => parseInt(v.category_id) == parseInt(categoryId[0].id))
      for (let i = 0; i < search.length; i++) {
        this.subcategoryOption2.push(search[i].name)
      }

      this.itemsOfCategory = filterItem
      this.prodsNewShow = filterItem
      this.tematica = ''
      this.ciudad = ''
    },
    filterBySubcategory (name) {
      var categoryId = this.categoriess.filter(v => v.name == this.categoria)
      var search = this.subcategories.filter(v => parseInt(v.category_id) == parseInt(categoryId[0].id))
      var subcategoryId = search.filter(v => v.name == name)
      var filterItem = this.itemsOfCategory.filter(entry => {
        return entry.subcategory_id == subcategoryId[0].id
      })
      this.itemsOfSubcategory = filterItem
      this.prodsNewShow = filterItem
    },
    getCategories () {
      this.$store.dispatch('category/get')
        .then((resp) => {
          for (let i = 0; i < resp.data.success.length; i++) {
            this.categories.push(resp.data.success[i].name)
          }
          this.getSubCategories()
        })
        .catch((err) => {
          alert(err)
        })
    },
    getSubCategories () {
      this.$store.dispatch('subcategory/get')
        .then((resp) => {
          this.getThemes()
        })
        .catch((err) => {
          alert(err)
        })
    },
    pushOtherItem () {
      if (this.prodsNewShow.length === this.prodcts.length) {
        return false
      }
      var bodegas = ''
      for (var i = this.min; i < this.max; i++) {
        if (this.prodcts[i].cities.length >= 1) {
          for (var e = 0; e < this.prodcts[i].cities.length; e++) {
                bodegas = bodegas + this.prodcts[i].cities[e].name
              }
          this.prodcts[i].bodegas = bodegas
          this.prodcts[i].quantity = 0
        }
        this.prodsNewShow.push(this.prodcts[i])
        bodegas = ''
      }
      this.min = this.prodsNewShow.length
      this.max = this.max +  19
    },
    scroll () {
      var d = document.documentElement
      var offset = d.scrollTop + window.innerHeight
      var height = d.offsetHeight
      if (offset + 2 >= height) {
        this.pushOtherItem()
      }
    }
  },
  created () {
    this.getProducts()
    window.addEventListener('scroll', this.scroll) 
  },
  destroyed () {
    window.removeEventListener('scroll', this.scroll)
  }
}
</script>
