<template>
  <div>
    <q-card class="full-width q-pa-md">
      <q-card-section class="text-left">
        <span class="text-h5 text-weight-bolder">Pedido #{{order.id}} <q-icon v-if="user.user_type == 1" @click="edit" class="cursor-pointer" name="edit" /><q-toggle label="Aceptar" v-if="user.user_type == 1" @input="toggleSensitiveItem(order.id)" v-model="is_active" color="primary" style="float:right" /></span>
        <div style="float:right"><q-btn color="primary" @click="updateOrder" icon="save" v-if="read === false" /></div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="order.subtotal" label="Subtotal"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="order.total" label="Total"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read2" v-model="order.client.name" label="Cliente">
            <q-menu fit>
              <div class="row no-wrap q-pa-md">
                <div class="column items-center ">
                  <div class="row q-mt-sm" style="width: 165px">
                    <div class="col-12">
                      <q-item clickable v-ripple>
                        <q-item-section avatar>
                          <q-icon color="primary" name="account_circle" />
                        </q-item-section>
                        <q-item-section style="font-size: 15px; margin-left: -25px">{{order.client.name}}</q-item-section>
                      </q-item>
                    </div>
                    <div class="col-12">
                      <q-item clickable v-ripple>
                        <q-item-section avatar>
                          <q-icon color="primary" name="mail" />
                        </q-item-section>
                        <q-item-section style="font-size: 15px; margin-left: -25px">{{order.client.email}}</q-item-section>
                      </q-item>
                    </div>
                    <div class="col-12">
                      <q-item clickable v-ripple>
                        <q-item-section avatar>
                          <q-icon size="" color="primary" name="phone_iphone" />
                        </q-item-section>
                        <q-item-section style="font-size: 15px; margin-left: -25px">{{order.client.phone}}</q-item-section>
                      </q-item>
                    </div>
                  </div>
                </div>
                <q-separator vertical inset class="q-mx-lg" />
                <div class="column items-center" style="margin-top: -20px">
                  <q-avatar size="70px">
                    <q-icon name="people" />
                  </q-avatar>
                  <div class="q-mb-xs">{{order.client.firts_name}}</div>
                </div>
              </div>
            </q-menu>
          </q-input>
        </div>
        <div class="col-12 q-mt-md" v-if="order.observations">
          <span class="text-weight-bolder">Observación: </span> {{order.observations}}
        </div>
        <div class="col-12 q-mt-md">
          <q-markup-table>
            <thead>
              <tr>
                <th>Imágen</th>
                <th class="text">Producto</th>
                <th class="text">Precio</th>
                <th class="text">Cantidad</th>
                <th class="text">Total</th>
                <th class="text">Observación</th>
                <th class="text" v-if="user.user_type == 1">Posición</th>
                <th v-if="!editOrderss">Borrar</th>
                <th v-if="editOrderss && user.user_type == 1">En bolsa</th>
              </tr>
            </thead>
            <tbody class="order-tbodi">
              <tr v-for="(product, idx) in order.products" :key="idx">
                <td><center><img v-viewer style="width:50px; height:50px" :src="url + '/image/products/' + product.img" /></center></td>
                <td class="text-center">{{product.product}}</td>
                <td class="text-center">{{formatPrice(product.price)}}</td>
                <td class="text-center"><q-input type="number" @blur="recalculateTotal" :disable="editOrderss" label="Cantidad" v-model="product.quiantity" /></td>
                <td class="text-center">{{formatPrice(product.price * product.quiantity)}}</td>
                <td class="text-center">
                  <span v-if="product.observation">{{product.observation}}</span>
                  <span v-if="!product.observation">Sin observación</span>
                </td>
                <td class="text-center" v-if="user.user_type == 1">{{product.position}}</td>
                <td class="text-center" v-if="editOrderss && user.user_type == 1"><q-checkbox v-if="editOrderss" left-label v-model="product.in_bag" @input="toggleStatusBags(idx)" /></td>
                <td class="text-center" v-if="!editOrderss"><q-btn icon="delete" @click.native="deleteProdOfOrder(idx)" color="red" class="text-white"></q-btn></td>
              </tr>
              <tr v-for="(product, idx2) in orderProducts" :key="idx2">
                <td><q-input readonly label="Referencia" v-model="product.ref" /></td>
                <td><q-select @input="filterProdInArray(idx2)" use-input input-debounce="0"  @filter="filterFn2" filled v-model="product.product" :options="productOpt" label="Producto" /></td>
                <td><q-input type="number" @blur="calculatePaymentByQuiantity2(idx)" label="Precio" v-model="product.price" /></td>
                <td><q-input type="number" @blur="calculatePaymentByQuiantity(idx)" label="Cantidad" v-model="product.quantity" /></td>
                <td><q-input type="number" label="Total" v-model="product.total" readonly /></td>
              </tr>
              <tr v-if="read === false">
                <td class="text-"><q-input label="Referencia" readonly /></td>
                <td class="text-right"><q-input label="Nombre" readonly /></td>
                <td class="text-right"><q-input label="Precio" readonly /></td>
                <td class="text-right"><q-input label="Cantidad" readonly type="number" /></td>
                <td class="text-right"><q-btn @click="pushItem" icon="add" color="primary" /></td>
              </tr>
            </tbody>
          </q-markup-table>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  computed: {
    order () {
      return this.$store.getters['orders/order']
    },
    products () {
      return this.$store.getters['products/products']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      read: true,
      read2: true,
      url: domain,
      orderProducts: [],
      selected: 0,
      orders: {},
      showing: false,
      category: '',
      confirm: false,
      categoryDialog: false,
      columns: [
        {
          name: 'Id',
          align: 'center',
          label: 'Id',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Subtotal',
          align: 'center',
          label: 'Subtotal',
          sortable: true,
          field: row => row.subtotal
        },
        {
          name: 'Total',
          align: 'center',
          label: 'Total',
          sortable: true,
          field: row => row.total
        },
        {
          name: 'Domicilio',
          align: 'center',
          label: 'Domicilio',
          sortable: true,
          field: row => row.domicilio
        },
        {
          name: 'Canal',
          align: 'center',
          label: 'Canal',
          sortable: true,
          field: row => row.channel
        },
        {
          name: 'Cliente',
          align: 'center',
          label: 'Cliente',
          sortable: true,
          field: row => row.client
        },
        {
          name: 'Ver',
          align: 'center',
          label: 'Ver',
          sortable: true
        },
        {
          name: 'Borrar',
          align: 'center',
          label: 'Borrar',
          sortable: true
        }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      stringOptions: ['Facebook', 'WhatsApp', 'Pagina web', 'Mercadolibre'],
      options: this.stringOptions,
      max: true,
      optionProduct: [],
      productOpt: this.optionProduct,
      indexItem: 0,
      userOption: [],
      optionUser: [],
      subtotal: 0,
      domicilio: 9000,
      total: 0,
      is_active: null,
      editOrderss: true
    }
  },
  methods: {
    getProducts () {
      this.$store.dispatch('products/get')
        .then((resp) => {
          for (var i = 0; i < this.products.length; i++) {
            this.optionProduct.push(this.products[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    getClients () {
      this.$store.dispatch('client/get')
        .then((resp) => {
          for (var i = 0; i < this.clients.length; i++) {
            this.userOption.push(this.clients[i].name)
            this.optionUser.push(this.clients[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    getOrders () {
      this.$store.dispatch('orders/get')
        .then((resp) => {
          this.setData()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.ordersData.length; i++) {
        this.model.id = this.ordersData[i].id
        this.model.subtotal = this.ordersData[i].subtotal
        this.model.total = this.ordersData[i].total
        this.model.domicilio = this.ordersData[i].domicilio
        this.model.canal = this.ordersData[i].channel
        this.model.client = this.ordersData[i].client.name
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterOrder (id) {
      var search = this.ordersData.filter(v => v.id === id)
      this.$store.dispatch('orders/setFilter', search[0])
        .then((resp) => {
          this.$PushRoute('/dashboard/orders/filter')
        })
        .catch((err) => {
          alert(err)
        })
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.order_id = this.data[this.idx].id
      this.$store.dispatch('orders/deleteData', data)
        .then((resp) => {
          this.data.splice(this.idx, 1)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmitOrder () {
      if (!this.orders.clientData) {
        this.$SendNotify('negative', 'Selecciona el cliente!', 'red-8')
        return false
      } else if (!this.orders.canal) {
        this.$SendNotify('negative', 'Selecciona el canal de venta!', 'red-8')
        return false
      } else if (this.orderProducts.length < 1) {
        this.$SendNotify('negative', 'Selecciona al menos un producto!', 'red-8')
        return false
      }
      this.orders.subtotal = this.subtotal
      this.orders.total = this.total
      this.orders.domicilio = this.domicilio
      this.orders.products = this.orderProducts
      this.$store.dispatch('orders/saveOrders', this.orders)
        .then((resp) => {
          this.getOrders()
          this.showAddForm = false
          this.orders = {}
          this.orderProducts = []
          this.total = 0
          this.subtotal = 0
        })
        .catch((err) => {
          alert(err)
        })
    },
    pushItem () {
      var item = {}
      item.name = ''
      item.price = ''
      item.ref = ''
      item.quantity = 1
      this.orderProducts.push(item)
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.stringOptions
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterFn2 (val, update) {
      if (val === '') {
        update(() => {
          this.productOpt = this.optionProduct
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.productOpt = this.optionProduct.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterFnClient (val, update) {
      if (val === '') {
        update(() => {
          this.optionUser = this.userOption
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.optionUser = this.userOption.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterProdInArray (idx) {
      var key = this.orderProducts[idx].product
      var search = this.products.filter(v => v.name === key)
      this.orderProducts[idx].id = search[0].id
      this.orderProducts[idx].price = search[0].price
      this.orderProducts[idx].ref = search[0].ref
    },
    filterClientInArray (value) {
      var search = this.clients.filter(v => v.name === value)
      this.orders.clientData = search[0]
    },
    calculatePaymentByQuiantity (idx) {
      this.orderProducts[idx].total = this.orderProducts[idx].price * this.orderProducts[idx].quantity
      this.calculatePayment2(idx)
    },
    calculatePaymentByQuiantity2 (idx) {
      this.orderProducts[idx].total = this.orderProducts[idx].price * this.orderProducts[idx].quantity
      this.calculatePayment2(idx)
    },
    calculatePayment2 (idx) {
      this.order.subtotal = parseInt(this.order.subtotal) + parseInt(this.orderProducts[idx].total)
      this.order.total = parseInt(this.order.subtotal) + parseInt(this.order.domicilio)
    },
    calculatePayment (idx) {
      this.order.subtotal = parseInt(this.order.subtotal) + parseInt(this.orderProducts[idx].total)
      this.order.total = parseInt(this.order.subtotal) + parseInt(this.order.domicilio)
    },
    edit () {
      this.read = false
      this.editOrderss = false
    },
    updateOrder () {
      var data = {}
      data.order_id = this.order.id
      data.total = this.order.total
      data.subtotal = this.order.subtotal
      data.domicilio = this.order.domicilio
      data.products = this.orderProducts
      data.ollProducts = this.order.products
      this.$store.dispatch('orders/updateOrder', data)
        .then((resp) => {
          this.orderProducts = []
          this.read = true
          this.editOrderss = true
          this.setPosition()
          console.clear()
        })
        .catch((err) => {
          alert(err)
        })
    },
    toggleSensitiveItem (idx) {
      var data = {}
      data.order_id = idx
      this.$store.dispatch('orders/updateIsActive', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se a cambiado el estado del pedido!', 'green-8')
          console.clear()
        })
        .catch((err) => {
          alert(err)
        })
    },
    recalculateTotal () {
      this.order.total = 0
      this.order.subtotal = 0
      for (var i = 0; i < this.order.products.length; i++) {
        this.order.total = parseFloat(this.order.total) + (parseFloat(this.order.products[i].price) * parseFloat(this.order.products[i].quiantity))
        this.order.subtotal = parseFloat(this.order.subtotal) + (parseFloat(this.order.products[i].price) * parseFloat(this.order.products[i].quiantity))
      }
    },
    deleteProdOfOrder (idx) {
      var data = {}
      data.id = this.order.products[idx].id
      this.$store.dispatch('products/deleteOrderProduct', data)
        .then((resp) => {
          this.order.products.splice(idx, 1)
          this.recalculateTotal()
        })
        .catch((err) => {
          alert(err)
        })
    },
    toggleStatusBags (idx) {
      var orderProduct = this.order.products[idx]
       this.$store.dispatch('products/toggleBags', orderProduct)
        .then((resp) => {
          console.log(resp)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setPosition () {
      for (let i = 0; i < this.order.products.length; i++) {
        var product = this.products.filter(data => {
          return data.id == this.order.products[i].product_id
        })
        this.order.products[i].position = product[0].position
        this.order.products[i].observation = product[0].observations
      }
      console.clear()
    }
  },
  beforeMount () {
    this.getProducts()
    if (this.order.is_active == 0) {
      this.is_active = false
    } else {
      this.is_active = true
    }
  },
  created () {
    for (let i = 0; i < this.order.products.length; i++) {
      if (this.order.products[i].in_bag != 1) {
        this.order.products[i].in_bag = false
      } else {
        this.order.products[i].in_bag = true
      }
      var product = this.products.filter(data => {
        return data.id == this.order.products[i].product_id
      })
      this.order.products[i].position = product[0].position
      this.order.products[i].observation = product[0].observations
    }
    console.clear()
  }
}
</script>
