<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-table title="Pedidos" class="my-sticky-header-table text-accent" :data="data" :columns="columns" row-key="name" binary-state-sort rows-per-page-label="Items por pagina" :pagination.sync="pagination" :loading="loading" :filter="filter">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <center>{{ props.row.id }}</center>
            </q-td>
            <q-td>
              <center>{{ formatPrice(props.row.subtotal) }}</center>
            </q-td>
            <q-td>
              <center>{{ formatPrice(props.row.total) }}</center>
            </q-td>
            <!--<q-td>
              <center>{{ formatPrice(props.row.domicilio) }}</center>
            </q-td>-->
            <q-td>
              <center>{{ props.row.is_active }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.client }}</center>
            </q-td>
            <q-td>
              <center><q-btn @click="filterOrder(props.row.id)" icon="search" color="primary" /></center>
            </q-td>
            <q-td>
              <center><q-btn @click="deleteData(props.row.idx)" icon="delete" color="primary" /></center>
            </q-td>
          </q-tr>
        </template>
        <template v-slot:top-right>
          <div class="col-12">
            <q-input debounce="300" class="text-white" style="width:300px" color="white" standout="bg-grey text-white" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon color="white" name="search" />
            </template>
          </q-input>
          </div>
          <!--<q-btn v-if="user.user_type == 1" @click="showAddForm = true" icon="list_alt" color="primary" label="Agregar" class="q-ml-md" size="20px" />-->
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Estas apunto de borrar el pedido...</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Borrar" @click="deleteItem" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog :maximized="max" v-model="showAddForm" @hide="getProducts">
        <q-card>
          <q-card-section class="q-pt-md">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmitOrder()" class="q-gutter-md addClient" style="width:100%">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                      <q-select @input="filterClientInArray"  use-input input-debounce="0"  @filter="filterFnClient" filled v-model="orders.client" :options="optionUser" label="Cliente" />
                    </div>
                    <div class="col-1 q-ml-sm">
                      <q-btn  icon="add" size="20px" color="primary" />
                    </div>
                    <div class="col-4 row">
                      <q-card class="q-pa-sm full-width" style="float-right">
                        <q-card-section>SUBTOTAL: {{formatPrice(subtotal)}}</q-card-section>
                        <q-card-section style="margin-top: -1.3rem;">DOMICILIO: {{formatPrice(domicilio)}}</q-card-section>
                        <q-card-section style="margin-top: -1.3rem;">TOTAL: {{formatPrice(total)}}</q-card-section>
                        <span class="q-ml-lg" style="float:right; margin-top: -7rem"><q-btn size="20px" @click="onSubmitOrder" icon="save" color="primary" /></span>
                      </q-card>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:-2rem;">
                       <q-select  use-input input-debounce="0"  @filter="filterFn" filled v-model="orders.canal" :options="options" label="Canal de venta" />
                    </div>
                    <div class="col-12 q-mt-lg">
                      <q-markup-table>
                        <thead>
                          <tr>
                            <th class="text-left">Referencia</th>
                            <th class="text">Nombre</th>
                            <th class="text">Precio</th>
                            <th class="text">Cantidad</th>
                            <th class="">Agregar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(product, idx) in orderProducts" :key="idx">
                            <td><q-input label="Referencia" readonly v-model="product.ref" /></td>
                            <td><q-select @input="filterProdInArray(idx)" use-input input-debounce="0"  @filter="filterFn2" filled v-model="product.product" :options="productOpt" label="Producto" /></td>
                            <td><q-input type="number" @blur="calculatePaymentByQuiantity2(idx)" label="Precio" v-model="product.price" /></td>
                            <td><q-input type="number" @blur="calculatePaymentByQuiantity(idx)" label="Cantidad" v-model="product.quantity" /></td>
                             <td><q-input type="number" label="Total" v-model="product.total" readonly /></td>
                          </tr>
                          <tr>
                            <td class="text-"><q-input label="Referencia" readonly /></td>
                            <td class="text-right"><q-input label="Nombre" readonly /></td>
                            <td class="text-right"><q-input label="Precio" readonly /></td>
                            <td class="text-right"><q-input label="Cantidad" readonly type="number" /></td>
                            <td class="text-right"><q-btn @click="pushItem" icon="add" color="primary" /></td>
                          </tr>
                        </tbody>
                      </q-markup-table>
                    </div>
                  </div>
                  <div>
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'PageName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    clients () {
      return this.$store.getters['client/clients']
    },
    user () {
      return this.$store.getters['auth/user']
    },
    ordersData () {
      return this.$store.getters['orders/orders']
    }
  },
  data () {
    return {
      selected: 0,
      orders: {},
      showing: false,
      category: '',
      url: domain,
      confirm: false,
      categoryDialog: false,
      columns: [
        {
          name: 'Id',
          align: 'center',
          label: 'Id',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Subtotal',
          align: 'center',
          label: 'Subtotal',
          sortable: true,
          field: row => row.subtotal
        },
        {
          name: 'Total',
          align: 'center',
          label: 'Total',
          sortable: true,
          field: row => row.total
        },
        {
          name: 'Estado',
          align: 'center',
          label: 'Estado',
          sortable: true,
          field: row => row.channel
        },
        {
          name: 'Cliente',
          align: 'center',
          label: 'Cliente',
          sortable: true,
          field: row => row.client
        },
        {
          name: 'Ver',
          align: 'center',
          label: 'Ver',
          sortable: true
        },
        {
          name: 'Borrar',
          align: 'center',
          label: 'Borrar',
          sortable: true
        }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      stringOptions: ['Facebook', 'WhatsApp', 'Pagina web', 'Mercadolibre'],
      options: this.stringOptions,
      max: true,
      orderProducts: [],
      optionProduct: [],
      productOpt: this.optionProduct,
      indexItem: 0,
      userOption: [],
      optionUser: [],
      subtotal: 0,
      domicilio: 9000,
      total: 0
    }
  },
  methods: {
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    getProducts () {
      this.$store.dispatch('products/get')
        .then((resp) => {
          for (var i = 0; i < this.products.length; i++) {
            this.optionProduct.push(this.products[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    getClients () {
      this.$store.dispatch('client/get')
        .then((resp) => {
          for (var i = 0; i < this.clients.length; i++) {
            this.userOption.push(this.clients[i].name)
            this.optionUser.push(this.clients[i].name)
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    getOrders () {
      this.$store.dispatch('orders/get', this.user.id)
        .then((resp) => {
          this.setData()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.ordersData.length; i++) {
        this.model.id = this.ordersData[i].id
        this.model.subtotal = this.ordersData[i].subtotal
        this.model.total = this.ordersData[i].total
        this.model.domicilio = this.ordersData[i].domicilio
        this.model.client = this.ordersData[i].client.name
        if (this.ordersData[i].is_active == 1) {
          this.model.is_active = 'Aceptado'
        } else {
          this.model.is_active = 'No Aceptado'
        }
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterOrder (id) {
      var search = this.ordersData.filter(v => v.id === id)
      this.$store.dispatch('orders/setFilter', search[0])
        .then((resp) => {
          this.$PushRoute('/dashboard/orders/filter')
        })
        .catch((err) => {
          alert(err)
        })
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.order_id = this.data[this.idx].id
      this.$store.dispatch('orders/deleteData', data)
        .then((resp) => {
          console.log(resp.data)
          this.data.splice(this.idx, 1)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmitOrder () {
      if (!this.orders.clientData) {
        this.$SendNotify('negative', 'Selecciona el cliente!', 'red-8')
        return false
      } else if (!this.orders.canal) {
        this.$SendNotify('negative', 'Selecciona el canal de venta!', 'red-8')
        return false
      } else if (this.orderProducts.length < 1) {
        this.$SendNotify('negative', 'Selecciona al menos un producto!', 'red-8')
        return false
      }
      this.orders.subtotal = this.subtotal
      this.orders.total = this.total
      this.orders.domicilio = this.domicilio
      this.orders.products = this.orderProducts
      this.$store.dispatch('orders/saveOrders', this.orders)
        .then((resp) => {
          this.getOrders()
          this.showAddForm = false
          this.orders = {}
          this.orderProducts = []
          this.total = 0
          this.subtotal = 0
        })
        .catch((err) => {
          alert(err)
        })
    },
    pushItem () {
      var item = {}
      item.name = ''
      item.price = ''
      item.ref = ''
      item.quantity = 1
      this.orderProducts.push(item)
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.stringOptions
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterFn2 (val, update) {
      if (val === '') {
        update(() => {
          this.productOpt = this.optionProduct
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.productOpt = this.optionProduct.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterFnClient (val, update) {
      if (val === '') {
        update(() => {
          this.optionUser = this.userOption
        })
        return true
      }
      update(() => {
        const needle = val.toLowerCase()
        this.optionUser = this.userOption.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterProdInArray (idx) {
      var key = this.orderProducts[idx].product
      var search = this.products.filter(v => v.name === key)
      this.orderProducts[idx].id = search[0].id
      this.orderProducts[idx].price = search[0].price
      this.orderProducts[idx].ref = search[0].ref
      this.calculatePayment()
    },
    filterClientInArray (value) {
      var search = this.clients.filter(v => v.name === value)
      this.orders.clientData = search[0]
    },
    calculatePaymentByQuiantity (idx) {
      this.orderProducts[idx].total = this.orderProducts[idx].price * this.orderProducts[idx].quantity
      this.calculatePayment()
    },
    calculatePaymentByQuiantity2 (idx) {
      this.orderProducts[idx].total = this.orderProducts[idx].price * this.orderProducts[idx].quantity
      this.calculatePayment()
    },
    calculatePayment () {
      this.subtotal = 0
      this.total = 0
      for (var i = 0; i < this.orderProducts.length; i++) {
        this.subtotal = parseInt(this.subtotal) + (parseInt(this.orderProducts[i].price) * parseInt(this.orderProducts[i].quantity))
      }
      this.total = parseInt(this.subtotal) + parseInt(this.domicilio)
    }
  },
  beforeMount () {
    this.getProducts()
    this.getClients()
    this.getOrders()
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 100vh

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #a0a0a0
    color: white

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
