<template>
  <q-page padding>
    <!-- content -->
    <div class="row q-mb-lg">
      <div class="col-12">
        <center><q-img src="statics/logogray.png" style="width:120px" /></center>
      </div>
    </div>
    <div class="row q-mt-lg" v-if="user.user_type == 1">
      <!--<div class="col-md-3 col-sm-6 col-xs-12 text-h6 teext-weight-bolder q-pa-md text-grayy">
        <div class="bg-secondary q-pa-lg">
          Ventas hoy<br>
          {{formatPrice(sellToday)}}
        </div>
        <p></p>
      </div>-->
      <div class="col-md-6 col-sm-6 col-xs-12 text-h6 teext-weight-bolder q-pa-md text-grayy">
        <div class="bg-secondary rounded shadow-1 q-pa-lg text-mobile-down-1">
          Total de pedidos por mes<br>
          {{formatPrice(sellMonth)}}
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-h6 teext-weight-bolder q-pa-md text-grayy">
        <div class="bg-primary rounded shadow-1 q-pa-lg text-mobile-down-1">
          Total historico<br>
          {{formatPrice(totalHistory)}}
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-h6 teext-weight-bolder q-pa-md text-grayy">
        <div class="bg-primary rounded shadow-1 q-pa-lg text-mobile-down-1">
          Total pedidos aceptados<br>
          {{ordersAccepted}}
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-h6 teext-weight-bolder q-pa-md text-grayy">
        <div class="bg-secondary rounded shadow-1 q-pa-lg text-mobile-down-1">
          Total pedidos rechazados<br>
          {{ordersDeclined}}
        </div>
      </div>
    </div>
    <q-markup-table v-if="user.user_type == 2">
        <thead>
          <tr class="bg-primary">
            <th  class="text-left bg-primary text-grayy">Usuario</th>
            <th class="text bg-primary text-grayy">Correo</th>
            <th class="text bg-primary text-grayy">Catálogo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">{{user.name}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{'http://trinity.com.co/brilho/#/catalogo/' + user.name}}</td>
          </tr>
        </tbody>
      </q-markup-table>
      <q-card v-if="user.user_type == 2">
        <div class="row q-pa-lg q-mt-lg">
          <div class="col-8">
            <span class="text-weight-bolder text-accent">Logo del distribuidor</span>
          </div>
        </div>
        <div class="row q-pa-lg">
          <div class="col-12 col-md-8">
            <q-form @submit="onSubmit" class="q-gutter-md addClient">
              <q-file filled bottom-slots v-model="distribuyer.brands" label="Imágen" counter>
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:append>
                  <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                </template>
                <template v-slot:hint>
                  Field hint
                </template>
              </q-file>
              <q-btn label="Guardar" type="submit" color="primary" style="width:100%" />
            </q-form>
          </div>
          <div class="col-12 col-md-4 q-pt-sm q-mt-md">
            <center>
              <q-img width="100px" height="100px" :src="url + '/image/brands/' + this.user.brand_img" class="rounded" />
            </center>
          </div>
        </div>
      </q-card>
  </q-page>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'PageName',
  computed: {
    proveedors () {
      return this.$store.getters['proveedor/proveedors']
    },
    products () {
      return this.$store.getters['products/products']
    },
    clients () {
      return this.$store.getters['client/clients']
    },
    ordersData () {
      return this.$store.getters['orders/orders']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      utilityToday: 0,
      sellToday: 0,
      sellMonth: 0,
      utilityMonth: 0,
      domicilio: [],
      url: domain,
      totalHistory: 0,
      ordersAccepted: 0,
      ordersDeclined: 0,
      distribuyer: {}
    }
  },
  methods: {
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    getUtilities () {
      this.$store.dispatch('orders/getTodaySells')
        .then((resp) => {
          this.utilityToday = resp.data.success.utility
          this.sellToday = resp.data.success.sell
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getUtilitiesSell () {
      this.$store.dispatch('orders/getTodayAll')
        .then((resp) => {
          this.utilityMonth = resp.data.success.utility
          this.sellMonth = resp.data.success.sell
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getDomicilio () {
      this.$store.dispatch('orders/getDomicilios')
        .then((resp) => {
          for (let i = 0; i < resp.data.success.length; i++) {
            this.totalHistory = parseFloat(this.totalHistory) + parseFloat(resp.data.success[i].total)
            this.ordersAccepted = this.ordersAccepted + 1
          }
          console.log(this.totalHistory)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getProveedor () {
      this.$store.dispatch('proveedor/get')
        .then((resp) => {
        })
        .catch((err) => {
          alert(err)
        })
    },
    getOrders () {
      this.$store.dispatch('orders/get', this.user.id)
        .then((resp) => {
          for (var i = 0; i < resp.data.success.length; i++) {
            if (resp.data.success[i].is_active === 0) {
              this.ordersDeclined = this.ordersDeclined + 1
            }
          }
        })
        .catch((err) => {
          alert(err)
        })
    },
    onSubmit () {
      var formData = new FormData()
      formData.append('file', this.distribuyer.brands)
      formData.append('client_id', this.user.id)
      this.$store.dispatch('auth/changeBrands', formData)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo a cambiado el logo del distribuidor!', 'green-8')
          this.distribuyer = {}
        })
        .catch((err) => {
          alert(err)
        })
    }
  },
  beforeMount () {
    this.getUtilities()
    this.getUtilitiesSell()
    this.getDomicilio()
    this.getProveedor()
  }
}
</script>
