<template>
  <q-page padding>
    <!-- content -->
    <index />
  </q-page>
</template>

<script>
import index from 'src/components/orders/index.vue'

export default {
  // name: 'PageName',
  components: {
    index
  }
}
</script>
