<template>
  <div class="row">
    <q-card class="full-width q-pa-md">
      <q-card-section class="text-left"><span class="text-h5 text-weight-bolder">Proveedor #{{proveedor.id}}</span></q-card-section>
      <q-card-section class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <q-input :readonly="read" v-model="proveedor.name" label="Nombre del proveedor"/>
        </div>
      </q-card-section>
      <q-card-section>
        <q-markup-table>
            <thead>
              <tr>
                <th class="text-left">Factura</th>
                <th class="text">Monto</th>
                <th class="text">Estado</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(factura, idx) in proveedor.facturas" :key="idx">
                <td class="text-left">{{factura.factura}}</td>
                <td class="text-center">{{formatPrice(factura.monto)}}</td>
                <td class="text-center">
                  <span v-if="editStatusKey === 0">{{factura.status}}</span>
                  <span v-if="editStatusKey === '1' + idx">
                    <q-select @input="setStatus(idx)" filled v-model="status" :options="stringOptions" label="Estado" />
                  </span>
                </td>
                <td class="text-center"> <q-btn @click="editStatus(idx)" color="primary" icon="edit" /></td>
              </tr>
            </tbody>
          </q-markup-table>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    proveedor () {
      return this.$store.getters['proveedor/proveedor']
    }
  },
  data () {
    return {
      read: true,
      editStatusKey: 0,
      stringOptions: ['Pagado', 'No pagado', 'Devuelto'],
      status: ''
    }
  },
  methods: {
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    },
    editStatus (idx) {
      this.editStatusKey = '1' + idx
    },
    setStatus (idx) {
      var data = {}
      data.factura_id = this.proveedor.facturas[idx].id
      data.status = this.status
      this.$store.dispatch('proveedor/toggleStatus', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se cambiado el estado de la factura a: ' + this.status, 'green-8')
          this.user = {}
          this.showAddForm = false
          this.editStatusKey = 0
        })
        .catch((err) => {
          alert(err)
        })
    }
  }
}
</script>
