<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-table title="Proveedores" class="my-sticky-header-table" :data="data" :columns="columns" row-key="name" binary-state-sort rows-per-page-label="Items por pagina" :pagination.sync="pagination" :loading="loading" :filter="filter">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <center>{{ props.row.id }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.name }}</center>
            </q-td>
            <q-td>
              <center><q-btn @click="filterProveedor(props.row.id)" icon="search" color="primary" /></center>
            </q-td>
            <q-td>
              <center><q-btn @click="addFactura(props.row.id)" icon="add" color="primary" /></center>
            </q-td>
            <q-td>
              <center><q-btn @click="deleteData(props.row.idx)" icon="delete" color="primary" /></center>
            </q-td>
          </q-tr>
        </template>
        <template v-slot:top-right>
          <q-input class="text-white" color="white" standout="bg-grey text-white" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon color="white" name="search" />
            </template>
          </q-input>
          <q-btn @click="showAddForm = true" icon="airport_shuttle" color="primary" label="Agregar" class="q-ml-md" size="20px" />
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Estas apunto de borrar el proveedor..</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Borrar" @click="deleteItem" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showAddForm" @hide="getProveedor">
        <q-card>
          <q-card-section>
            <div class="text-h6">Agregar proveedor</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmit" class="q-gutter-md addClient">
                  <q-input filled v-model="user.name" label="Nombre *"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Ingresa el nombre del cliente']"
                  />
                  <div>
                    <q-btn label="Guardar" type="submit" color="primary" style="width:100%" />
                    <q-btn label="Reset" type="reset" color="primary" flat class="q-mt-sm" style="width:100%" />
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="showFacturaModal">
        <q-card>
          <q-card-section>
            <div class="text-h6">Agregar factura</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmitFactura" class="q-gutter-md addClient">
                  <q-input filled v-model="factura.factura" label="factura *"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Ingresa el número de la factura']"
                  />
                  <q-input filled type="number" v-model="factura.monto" label="monto *"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Ingresa el monto de la factura']"
                  />
                  <q-select filled v-model="factura.status" :options="stringOptions" label="Estado" />
                  <div>
                    <q-btn label="Guardar" type="submit" color="primary" style="width:100%" />
                    <q-btn label="Reset" type="reset" color="primary" flat class="q-mt-sm" style="width:100%" />
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>

export default {
  // name: 'PageName',
  computed: {
    proveedors () {
      return this.$store.getters['proveedor/proveedors']
    }
  },
  data () {
    return {
      selected: 0,
      user: {},
      confirm: false,
      stringOptions: ['Pagado', 'No pagado', 'Devuelto'],
      columns: [
        {
          name: 'Id',
          align: 'center',
          label: 'Id',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Nombre',
          align: 'center',
          label: 'Nombre',
          sortable: true,
          field: row => row.nombre
        },
        {
          name: 'Ver',
          align: 'center',
          label: 'Ver',
          sortable: true
        },
        {
          name: 'Add Factura',
          align: 'center',
          label: 'Add Factura',
          sortable: true
        },
        {
          name: 'Borrar',
          align: 'center',
          label: 'Borrar',
          sortable: true
        }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      factura: {},
      showFacturaModal: false
    }
  },
  methods: {
    addFactura (id) {
      this.factura.proveedor_id = id
      this.showFacturaModal = true
    },
    getProveedor () {
      this.$store.dispatch('proveedor/get')
        .then((resp) => {
          this.setData()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.proveedors.length; i++) {
        this.model.id = this.proveedors[i].id
        this.model.name = this.proveedors[i].name
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterProveedor (id) {
      for (var i = 0; i < this.proveedors.length; i++) {
        if (this.proveedors[i].id === id) {
          this.$store.dispatch('proveedor/setFilter', this.proveedors[i])
            .then((resp) => {
              this.$PushRoute('/dashboard/proveedor/filter')
            })
            .catch((err) => {
              alert(err)
            })
        }
      }
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.proveedor_id = this.data[this.idx].id
      this.$store.dispatch('proveedor/deleteProveedor', data)
        .then((resp) => {
          console.log(resp.data)
          this.data.splice(this.idx, 1)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmit () {
      var data = {}
      data = this.user
      this.$store.dispatch('proveedor/add', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo el proveedor', 'green-8')
          this.user = {}
          this.showAddForm = false
          this.getProveedor()
        })
        .catch((err) => {
          alert(err)
        })
    },
    onSubmitFactura () {
      var data = {}
      data = this.factura
      this.$store.dispatch('proveedor/factura', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo la factura del proveedor', 'green-8')
          this.factura = {}
          this.showFacturaModal = false
          this.getProveedor()
        })
        .catch((err) => {
          alert(err)
        })
    }
  },
  beforeMount () {
    this.getProveedor()
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 100vh

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #a0a0a0
    color: white

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
