<template>
  <div>
    <q-form @submit="onSubmit" class="q-gutter-md addClient">
          <q-input filled v-model="user.name" label="Nombre *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa el nombre del cliente']"
          />
          <q-input filled v-model="user.email" label="Correo"
          />
          <q-input filled type="text" v-model="user.address" label="Dirección *"
             lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa la dirección del cliente']"
          />
          <q-input filled type="number" v-model="user.phone" label="Teléfono *"
             lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa el teléfono del cliente']"
          />
          <div class="row">
            <div class="col-6 q-pa-md">
              <q-btn @click="setAgePatter('masculino', 1)" :class="{bgAge:1 == selected}" label="Masculino" />
            </div>
            <div class="col-6 q-pa-md">
              <q-btn @click="setAgePatter('femenino', 2)" :class="{bgAge:2 == selected}" style="float: right; color: black" label="Femenino" />
            </div>
          </div>
          <div>
            <q-btn label="Guardar" type="submit" color="primary" style="width:100%" />
            <q-btn label="Reset" type="reset" color="primary" flat class="q-mt-sm" style="width:100%" />
          </div>
        </q-form>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      selected: 0,
      user: {}
    }
  },
  methods: {
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmit () {
      var data = {}
      data = this.user
      this.$store.dispatch('client/add', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo el cliente', 'green-8')
          this.user = {}
        })
        .catch((err) => {
          alert(err)
        })
    }
  }
}
</script>
