<template>
  <div class="row">
    <q-card class="full-width q-pa-md">
      <q-card-section class="text-left"><span class="text-h5 text-weight-bolder text-accent">Distribuidor #{{client.id}}</span><q-icon v-if="user.user_type == 1" @click="read = false" class="cursor-pointer" name="edit" size="25px" style="margin-top: -15px; margin-left: 10px" />
        <div style="float:right"><q-btn color="primary" @click="updateDistribuyer" icon="save" v-if="read === false" /></div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.firts_name" label="Nombre y apellido"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.email" label="Correo"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.phone" label="Teléfono"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.address" label="Dirección"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.address_2" label="Dirección2"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="client.city" label="Ciudad"/>
          <q-select v-if="!read" v-model="client.city" :options="optionsCities" label="Ciudad" style="width: 100%" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm" v-if="client.cedula">
          <q-input :readonly="read" v-model="client.cedula" label="Cédula"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-model="client.name" label="Usuario"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q-pa-sm">
          <q-input :readonly="read" v-if="read" v-model="client.price_type" label="Tipo de precio"/>
          <q-select v-if="!read" v-model="client.price_type" :options="optionsPrices" label="Tipo de precio" style="width: 100%" />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    client () {
      return this.$store.getters['client/filter']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      read: true,
      edit: false,
      optionsCities: ['Medellin', 'Bogota', 'Cali', 'Bucaramanga'],
      optionsPrices: ['1', '2', '3']
    }
  },
  methods: {
    updateDistribuyer () {
      if (!this.client.city) {
        this.$SendNotify('negative', 'Por favor selecciona la ciudad del cliente', 'red-8')
        return false
      }
      this.$store.dispatch('client/updateClient', this.client)
        .then((resp) => {
          this.$SendNotify('positive', 'Se a modificaco el distribuidor', 'green-8')
          this.read = true
          console.clear()
        })
        .catch((err) => {
          this.$SendNotify('negative', 'A ocurrido un error editando el distribuidor:' + err, 'red-8')
          console.clear()
        })
    }
  }
}
</script>
