<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-table title="Distribuidores" class="my-sticky-header-table" :data="data" :columns="columns" row-key="name" binary-state-sort rows-per-page-label="Items por pagina" :pagination.sync="pagination" :loading="loading" :filter="filter">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <center>{{ props.row.id }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.cedula }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.name }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.username }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.email }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.address }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.phone }}</center>
            </q-td>
            <q-td>
              <center><q-btn @click="filterClient(props.row.id)" icon="search" color="primary" /></center>
            </q-td>
            <q-td>
              <center><q-btn @click="deleteData(props.row.idx)" icon="delete" color="primary" /></center>
            </q-td>
          </q-tr>
        </template>
        <template v-slot:top-right>
          <q-input class="text-accent full-widthss" color="white" standout="bg-grey text-accent" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon color="white" name="search" />
            </template>
          </q-input>
          <q-btn @click="showAddForm = true" icon="people" color="secondary" label="Agregar" class="pl-no-mobile full-widthss text-accent" size="20px" />
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Estas apunto de borrar el cliente..</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Borrar" @click="deleteItem" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showAddForm" @hide="getClients">
        <q-card>
          <q-card-section>
            <div class="text-h6">Agregar distribuidor</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmit" class="q-gutter-md addClient">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-input filled v-model="user.name" label="Nombre *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el nombre del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-input filled v-model="user.username" label="Nombre de usuario *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el nombre de usuario del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 q-pa-sm">
                      <q-input filled v-model="user.email" label="Correo"
                       lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el correo del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 q-pa-sm">
                      <q-input filled v-model="user.cedula" label="Cédula de identidad"
                         lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa la cédula del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-input filled type="text" v-model="user.address" label="Dirección *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa la dirección del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-input filled type="text" v-model="user.address2" label="Dirección 2"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-select filled v-model="user.city" :options="optionsCities" label="Ciudad" style="width: 100%" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-input filled type="number" v-model="user.phone" label="Teléfono *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el teléfono del distribuidor']"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
                      <q-select filled v-model="user.type_price" :options="optionsPrices" label="Tipo de precio" style="width: 100%" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 q-pa-sm">
                      <q-input filled type="password" v-model="user.password" label="Contraseña *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa la contraseña del distribuidor']"
                      />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <q-btn label="Guardar" type="submit" color="primary" style="width:50%" />
                      <q-btn label="Reset" type="reset" color="primary" flat class="q-mt-sm" style="width:50%" />
                    </div>
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>

export default {
  // name: 'PageName',
  computed: {
    clients () {
      return this.$store.getters['client/clients']
    }
  },
  data () {
    return {
      selected: 0,
      user: {},
      confirm: false,
      columns: [
        {
          name: 'Id',
          align: 'center',
          label: 'Id',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Cedula',
          align: 'center',
          label: 'Cédula',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Nombre',
          align: 'center',
          label: 'Nombre',
          sortable: true,
          field: row => row.nombre
        },
        {
          name: 'Nombre de usuario',
          align: 'center',
          label: 'Nombre de usuario',
          sortable: true,
          field: row => row.nombre
        },
        {
          name: 'Email',
          align: 'center',
          label: 'Email',
          sortable: true,
          field: row => row.email
        },
        {
          name: 'Dirección',
          align: 'center',
          label: 'Dirección',
          sortable: true,
          field: row => row.address
        },
        {
          name: 'Teléfono',
          align: 'center',
          label: 'Teléfono',
          sortable: true,
          field: row => row.phone
        },
        {
          name: 'Ver',
          align: 'center',
          label: 'Ver',
          sortable: true
        },
        {
          name: 'Borrar',
          align: 'center',
          label: 'Borrar',
          sortable: true
        }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      optionsCities: ['Medellin', 'Bogota', 'Cali', 'Bucaramanga'],
      optionsPrices: ['1', '2', '3']
    }
  },
  methods: {
    getClients () {
      this.$store.dispatch('client/get')
        .then((resp) => {
          this.setData()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.clients.length; i++) {
        this.model.id = this.clients[i].id
        this.model.cedula = this.clients[i].cedula
        this.model.name = this.clients[i].firts_name
        this.model.email = this.clients[i].email
        this.model.address = this.clients[i].address
        this.model.phone = this.clients[i].phone
        this.model.gender = this.clients[i].gender
        this.model.username = this.clients[i].name
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterClient (id) {
      for (var i = 0; i < this.clients.length; i++) {
        if (this.clients[i].id === id) {
          this.$store.dispatch('client/setFilter', this.clients[i])
            .then((resp) => {
              this.$PushRoute('/dashboard/client/filter')
            })
            .catch((err) => {
              alert(err)
            })
        }
      }
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.client_id = this.data[this.idx].id
      this.$store.dispatch('client/deleteClient', data)
        .then((resp) => {
          this.data.splice(this.idx, 1)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmit () {
      var data = {}
      data = this.user
      this.$store.dispatch('client/add', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo el cliente', 'green-8')
          this.user = {}
          this.showAddForm = false
        })
        .catch((err) => {
          alert(err)
        })
    }
  },
  beforeMount () {
    this.getClients()
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 100vh

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #a0a0a0 !important
    color: white

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
