<template>
  <q-layout view="LHh lpR fFf"> <!-- Be sure to play with the Layout demo on docs -->
    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-header elevated>
      <q-toolbar>
         <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title>
          BRILHO
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawer"
      side="left"
      bordered
      :width="250"
      content-class="bg-primary"
      elevated
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <div class="col-12">
          <center><q-img src="statics/logogray.png" style="width:120px" /></center>
        </div>
        <div class="col-12 mt-40 q-pa-sm row">
          <q-list class="full-width text-white">
            <q-item clickable v-ripple @click="$PushRoute('/dashboard/main')">
              <q-item-section avatar>
                <q-icon color="accent" name="home" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">INICIO</q-item-section>
            </q-item>
            <q-item  v-if="user.user_type == 1" clickable v-ripple @click="$PushRoute('/dashboard/clients')">
              <q-item-section avatar>
                <q-icon color="accent" name="people" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">DISTRIBUIDORES</q-item-section>
            </q-item>
            <q-item  v-if="user.user_type == 2" clickable v-ripple @click="$PushRoute('/dashboard/products')">
              <q-item-section avatar>
                <q-icon color="accent" name="category" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">PRODUCTOS</q-item-section>
            </q-item>
            <q-item  v-if="user.user_type == 2" clickable v-ripple @click="$PushRoute('/dashboard/orders')">
              <q-item-section avatar>
                <q-icon color="accent" name="list_alt" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">MIS PEDIDOS</q-item-section>
            </q-item>
            <q-item  v-if="user.user_type == 1" clickable>
              <q-item-section avatar >
                <q-icon color="accent" name="category" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">PRODUCTOS</q-item-section>
              <q-menu fit>
                <q-list style="min-width: 100px">
                  <q-item clickable v-close-popup v-ripple @click="$PushRoute('/dashboard/products')">
                    <q-item-section avatar>
                      <q-icon color="primary" name="category" />
                    </q-item-section>
                    <q-item-section>Productos</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="$PushRoute('/dashboard/category')">
                    <q-item-section avatar>
                      <q-icon color="primary" name="widgets" />
                    </q-item-section>
                    <q-item-section>Categorias</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="$PushRoute('/dashboard/subcategory')">
                    <q-item-section avatar>
                      <q-icon color="primary" name="list_alt" />
                    </q-item-section>
                    <q-item-section>SubCategorias</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="$PushRoute('/dashboard/themes')">
                    <q-item-section avatar>
                      <q-icon color="primary" name="speaker_group" />
                    </q-item-section>
                    <q-item-section>Temática</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-item>
            <q-item  v-if="user.user_type == 1" clickable v-ripple @click="$PushRoute('/dashboard/orders')">
              <q-item-section avatar>
                <q-icon color="accent" name="list_alt" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">PEDIDOS</q-item-section>
            </q-item>
            <q-item  v-if="user.user_type == 1" clickable v-ripple @click="$PushRoute('/dashboard/history')">
              <q-item-section avatar>
                <q-icon color="accent" name="timeline" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">HISTORICO</q-item-section>
            </q-item>
            <q-item clickable v-ripple  @click="logout">
              <q-item-section avatar>
                <q-icon color="accent" name="exit_to_app" />
              </q-item-section>
              <q-item-section class="text-weight-bolder text-accent">SALIR</q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <q-ajax-bar
        ref="bar"
        position="top"
        color="primary"
          size="5px"
      />
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',
  computed: {
    products () {
      return this.$store.getters['products/products']
    },
    user () {
      return this.$store.getters['auth/user']
    },
    ordersData () {
      return this.$store.getters['orders/orders']
    }
  },
  data () {
    return {
      leftDrawer: true
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
        .then((resp) => {
          this.$PushRoute('/')
        })
        .catch(err => alert(err))
    }
  }
}
</script>
