<template>
  <q-page padding>
    <index />
  </q-page>
</template>

<script>
import index from 'src/components/category/index.vue'

export default {
  // name: 'PageName',
  components: {
    index
  },
  data () {
    return {
    }
  }
}
</script>
