<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-table title="Categorías" class="my-sticky-header-table" :data="data" :columns="columns" row-key="name" binary-state-sort rows-per-page-label="Items por pagina" :pagination.sync="pagination" :loading="loading" :filter="filter">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <center>{{ props.row.id }}</center>
            </q-td>
            <q-td>
              <center>{{ props.row.name }}</center>
            </q-td>
            <q-td>
              <center><q-btn @click="setEdit(props.row.idx)" icon="edit" color="secondary" /></center>
            </q-td>
            <q-td>
              <center><q-btn @click="deleteData(props.row.idx)" icon="delete" color="secondary" /></center>
            </q-td>
          </q-tr>
        </template>
        <template v-slot:top-right>
          <q-input class="text-white full-widthss" color="white" standout="bg-grey text-white" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon color="white" name="search" />
            </template>
          </q-input>
          <q-btn @click="showAddForm = true" icon="widgets" color="secondary" label="Agregar" class="pl-no-mobile full-widthss" size="20px" />
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Estas apunto de borrar la categoria..</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Borrar" @click="deleteItem" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showAddForm" @hide="getCategories">
        <q-card>
          <q-card-section>
            <div class="text-h6">Agregar categoría</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmit" class="q-gutter-md addClient">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 q-pa-sm">
                      <q-input filled v-model="user.name" label="Nombre *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el nombre de la categoria']"
                      />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <q-btn label="Guardar" type="submit" color="primary" style="width:50%" />
                    </div>
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="showEditForm" @hide="getCategories">
        <q-card>
          <q-card-section>
            <div class="text-h6">Modificar categoría</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="row">
              <div class="col-12">
                <q-form @submit="onSubmitEdit" class="q-gutter-md addClient">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 q-pa-sm">
                      <q-input filled v-model="editCategory" label="Nombre *"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Ingresa el nombre de la categoria']"
                      />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <q-btn label="Modificar" type="submit" color="primary" style="width:50%" />
                    </div>
                  </div>
                </q-form>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>

export default {
  // name: 'PageName',
  computed: {
    categories () {
      return this.$store.getters['category/categories']
    }
  },
  data () {
    return {
      selected: 0,
      user: {},
      confirm: false,
      columns: [
        {
          name: 'Id',
          align: 'center',
          label: 'Id',
          sortable: true,
          field: row => row.id
        },
        {
          name: 'Nombre',
          align: 'center',
          label: 'Nombre',
          sortable: true,
          field: row => row.nombre
        },
        {
          name: 'Editar',
          align: 'center',
          label: 'Editar',
          sortable: true
        },
        {
          name: 'Borrar',
          align: 'center',
          label: 'Borrar',
          sortable: true
        }
      ],
      showAddForm: false,
      data: [],
      model: {},
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10
      },
      loading: false,
      filter: '',
      idx: 0,
      editCategory: '',
      idEditCategory: 0,
      showEditForm: false
    }
  },
  methods: {
    getCategories () {
      this.$store.dispatch('category/get')
        .then((resp) => {
          this.setData()
        })
        .catch((err) => {
          alert(err)
        })
    },
    setData () {
      this.data = []
      for (var i = 0; i < this.categories.length; i++) {
        this.model.id = this.categories[i].id
        this.model.name = this.categories[i].name
        this.model.idx = i
        this.data.push(this.model)
        this.model = {}
      }
    },
    filterClient (id) {
      for (var i = 0; i < this.clients.length; i++) {
        if (this.clients[i].id === id) {
          this.$store.dispatch('client/setFilter', this.clients[i])
            .then((resp) => {
              this.$PushRoute('/dashboard/client/filter')
            })
            .catch((err) => {
              alert(err)
            })
        }
      }
    },
    deleteData (idx) {
      this.confirm = true
      this.idx = idx
    },
    deleteItem () {
      var data = {}
      data.category_id = this.data[this.idx].id
      this.$store.dispatch('category/deletes', data)
        .then((resp) => {
          this.data.splice(this.idx, 1)
        })
        .catch((err) => {
          alert(err)
        })
    },
    setAgePatter (key, type) {
      this.selected = type
      this.user.gender = key
      return false
    },
    onSubmit () {
      var data = {}
      data = this.user
      this.$store.dispatch('category/add', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se guardo la categoría!', 'green-8')
          this.user = {}
          this.showAddForm = false
        })
        .catch((err) => {
          alert(err)
        })
    },
    setEdit (idx) {
      this.editCategory = this.data[idx].name
      this.idEditCategory = this.data[idx].id
      this.showEditForm = true
    },
    onSubmitEdit () {
      var data = {}
      data.category = this.editCategory
      data.category_id = this.idEditCategory
      this.$store.dispatch('category/edit', data)
        .then((resp) => {
          this.$SendNotify('positive', 'Se edito la categoría!', 'green-8')
          this.user = {}
          this.showEditForm = false
        })
        .catch((err) => {
          alert(err)
        })
    }
  },
  beforeMount () {
    this.getCategories()
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 100vh

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #a0a0a0
    color: white

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
