<template>
  <q-page class="flex flex-center">
    <div class="bg-index" />
    <q-card style="width:280px;" class="bg-primary q-mt-lg q-ml-lg">
      <q-card-section>
        <center>
          <q-img src="statics/logo.png" style="width:120px; height:80px!important" />
        </center>
      </q-card-section>
      <q-card-section>
        <q-form @submit="onSubmit" class="q-gutter-md">
          <q-input filled v-model="username" label="Nombre de usuario *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa tu usuario']"
          />
          <q-input filled type="password" v-model="password" label="Contraseña *"
            lazy-rules
            :rules="[
              val => val !== null && val !== '' || 'Ingresa tu contraseña'
            ]"
          />
          <div>
            <q-btn label="Iniciar" type="submit" class="btn-login" color="accent" style="width:100%" />
            <q-btn label="Reiniciar" type="reset" color="primary" flat class="q-mt-sm" style="width:100%" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    onSubmit () {
      var data = {}
      data.username = this.username
      data.password = this.password
      this.$store.dispatch('auth/login', data)
        .then((resp) => {
          if (resp.data.error) {
            this.$SendNotify('negative', resp.data.error, 'red-8')
          }
          if (resp.data.success) {
            this.$PushRoute('dashboard/main')
          }
        })
        .catch((err) => {
          alert(err)
        })
    }
  }
}
</script>
