<template>
  <q-layout view="hHh Lpr fFf"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Catálogo
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawer"
      side="left"
      bordered
      content-class="bg-grey-2"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <!-- Content here -->
        <q-list style="min-width: 100px; margin-top: 10%">
          <center>
            <q-img class="q-mt-lg rounded" :src="'http://trinity.com.co/brilho/api/public/image/brands/' + this.user.brand_img" rounded width="100px" height="100px" />
          </center>
          <q-item clickable class="q-mt-lg">
            <q-item-section avatar>
              <q-icon color="primary" name="person" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{client.name}}</q-item-label>
              <q-item-label caption style="font-size: 12px;">{{client.phone}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="primary" name="email" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{client.email}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="primary" name="map" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{client.address}}</q-item-label>
              <q-item-label caption style="font-size: 12px;">{{client.address_2}} - {{client.city}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable @click="showCateForm = true">
            <q-item-section avatar>
              <q-icon color="primary" name="picture_as_pdf" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Bajar pdf</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <q-dialog v-model="showCateForm">
        <q-card>
          <q-card-section>
            <div class="text-h6">Selecciona una opción</div>
          </q-card-section>
          <q-card-section>
            <q-select filled v-model="category" :options="categoryName" label="Categoria" />
          </q-card-section>
          <q-card-section>
            <q-btn color="primary" @click="getPdf()" :disable="category === ''" class="full-width" icon="picture_as_pdf" label="Bajar" />
          </q-card-section>
        </q-card>
      </q-dialog>
      {{categoryName}}
    </q-drawer>
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',
  computed: {
    client () {
      return this.$store.getters['client/filter']
    },
    categories () {
      return this.$store.getters['category/categories']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      leftDrawer: true,
      categoryName: [],
      showCateForm: false,
      category: ''
    }
  },
  methods: {
    getPdf () {
      var data = {}
      data.username = this.client.name
      data.category = this.category
      window.open('http://trinity.com.co/brilho/api/public/api/generate/pdf/' + data.username + '/' + data.category)
    },
    getCategoriess () {
      this.$store.dispatch('category/get')
        .then((resp) => {
          console.log(resp)
          this.pushDataInArray()
        })
        .catch((err) => {
          alert(err)
        })
    },
    pushDataInArray () {
      for (let index = 0; index < this.categories.length; index++) {
        this.categoryName.push(this.categories[index].name)
      }
    }
  },
  beforeMount () {
    this.getCategoriess()
  }
}
</script>
