.mt-40 {
    margin-top: 3.5rem;
}

.addClient {
    width: 500px;
}

.bgAge {
    background: #ff7415;
}

.prodt_img {
    height: 230px;
}

.rounded {
    border-radius: 10px;
}

.text-grayy {
    color: #474240 !important;
}

#q-app {
    color: #474240 !important;
}

.bg-index{
    background-image: url('http://trinity.com.co/brilho/statics/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 900px;
    position: absolute;
    z-index: -2;
    top: -100px;
}

.q-btn__content {
    color: #474240 !important;
}

.btn-login .q-btn__content {
    color: white !important
}

.order-tbodi .q-btn__content {
    color: white !important
}

.q-table__title {
    color: #474240 !important;
}

.my-sticky-header-table thead tr:first-child th {
    color: #474240 !important;
}

.text-left .q-card__section {
    color: #474240 !important;
}

.pl-no-mobile {
    margin-left: 10px
}

@media only screen and (max-width: 425px) {
    .addClient {
        width: 100%;
    }

    .text-mobile-down-1 {
        font-size: 17px
    }

    .pl-no-mobile {
        margin-left: 0px;
        margin-top: 10px;
    }

    .full-widthss {
        width: 100%
    }
}
