<template>
  <q-page padding>
    <products />
  </q-page>
</template>

<script>
import products from 'src/components/products/index.vue'

export default {
  // name: 'PageName',
  components: {
    products
  },
  data () {
    return {
    }
  }
}
</script>
