<template>
  <div>
    <q-card class="bg-primary">
      <q-input style="width:180px" filled v-model="date">
        <template v-slot:prepend>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-date @input="filterOrderByDate" v-model="date" mask="YYYY-MM-DD" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-markup-table>
            <thead>
              <tr>
                <th class="text-left">Fecha</th>
                <th class="text">Utilidad del dia</th>
                <th class="text">Ventas del dia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">{{dateUtility}}</td>
                <td class="text-center">{{formatPrice(utility)}}</td>
                <td class="text-center">{{formatPrice(profitDay)}}</td>
              </tr>
            </tbody>
          </q-markup-table>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    ordersData () {
      return this.$store.getters['orders/orders']
    }
  },
  data () {
    return {
      date: '2020-05-17',
      dayOrder: [],
      dateUtility: 'Selecciona una fecha',
      utility: 0,
      profitDay: 0
    }
  },
  methods: {
    getOrders () {
      this.$store.dispatch('orders/get', 1)
        .then((resp) => {
        })
        .catch((err) => {
          alert(err)
        })
    },
    filterOrderByDate (values) {
      this.utility = 0
      this.profitDay = 0
      this.dateUtility = values
      for (let i = 0; i < this.ordersData.length; i++) {
        if (this.ordersData[i].created_at.substr(0, 10) === values) {
          for (let e = 0; e < this.ordersData[i].products.length; e++) {
            console.log(this.ordersData[i].products[e])
            this.utility = this.utility + this.ordersData[i].products[e].utility
          }
          this.profitDay = this.profitDay + this.ordersData[i].total
        }
      }
    },
    formatPrice (price) {
      const formatterPeso = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 0
      })
      return formatterPeso.format(price)
    }
  },
  beforeMount () {
    this.getOrders()
  },
  mounted () {
  }
}
</script>
