<template>
  <q-page padding>
    <!-- content -->
    <filters />
  </q-page>
</template>

<script>
import filters from 'src/components/clients/filter'

export default {
  // name: 'PageName',
  components: {
    filters
  }
}
</script>
